@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Bold.woff2') format('woff2'),
        url('/fonts/DMSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/DMSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Italic.woff2') format('woff2'),
        url('/fonts/DMSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Medium.woff2') format('woff2'),
        url('/fonts/DMSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-MediumItalic.woff2') format('woff2'),
        url('/fonts/DMSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Regular.woff2') format('woff2'),
        url('/fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-BlackItalic.woff2') format('woff2'),
        url('/fonts/Rubik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-BoldItalic.woff2') format('woff2'),
        url('/fonts/Rubik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Black.woff2') format('woff2'),
        url('/fonts/Rubik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Bold.woff2') format('woff2'),
        url('/fonts/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-ExtraBold.woff2') format('woff2'),
        url('/fonts/Rubik-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-ExtraBoldItalic.woff2') format('woff2'),
        url('/fonts/Rubik-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Italic.woff2') format('woff2'),
        url('/fonts/Rubik-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-LightItalic.woff2') format('woff2'),
        url('/fonts/Rubik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Light.woff2') format('woff2'),
        url('/fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Medium.woff2') format('woff2'),
        url('/fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-MediumItalic.woff2') format('woff2'),
        url('/fonts/Rubik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Regular.woff2') format('woff2'),
        url('/fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-SemiBold.woff2') format('woff2'),
        url('/fonts/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/Rubik-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}



body {@apply bg-[url('/body-bg.svg')] bg-cover font-primary text-sm bg-fixed}
h1,h2,h3 {@apply font-heading}
nav li a.active {@apply font-bold text-black}
.burgerMenu.active span:first-child {@apply rotate-45 top-2}
.burgerMenu.active span:nth-child(2) {@apply hidden}
.burgerMenu.active span:last-child {@apply -rotate-45 top-2}
.js-accordion-title.open svg {@apply rotate-180}
.slick-list {padding-left: 0 !important;}
header.active{ @apply fixed top-0 inset-x-0 w-full bg-white z-30 bg-opacity-90 backdrop-blur-[10px] animate-[navbar_0.6s] py-4  }

@keyframes navbar {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media(min-width:767px){
.slider-clientscard .slick-slide { @apply duration-500 ease-in-out transition-transform relative}
.slider-clientscard .slick-slide {@apply scale-[0.7] -translate-x-[250px]}
.slider-clientscard .slick-slide.slick-center+.slick-slide{@apply scale-[0.8] 2xl:-translate-x-[340px] xl:-translate-x-[335px] -translate-x-[300px] z-[2] }
.slider-clientscard .slick-slide.slick-center+.slick-slide+.slick-slide {@apply scale-[0.7] xl:-translate-x-[640px] -translate-x-[620px] z-[1]}
.slider-clientscard .slick-slide.slick-active { @apply scale-[0.8] translate-x-[250px] }
.slider-clientscard .slick-slide.slick-center { @apply scale-100 2xl:-translate-x-20 xl:-translate-x-10 -translate-x-8 z-[3]}
.slider-clientscard .slick-center:after{ @apply opacity-0 m-[10px] p-[10px] }
}

#filters li span.active{@apply bg-black text-white}
.portfolioOverflow::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}